.btn{
    font-size: 25px;
    font-weight: 700;
    line-height:  29.3px;

    &--small{
        padding: 1rem 1.8rem;
        border-radius: 25px;
    }

    &-medium{
        padding: 1.6rem 3.2rem;
        border-radius: 3.2rem;
    }

    &--black {
        background-color: black;
        color: #FFF;
    }

    &-turquoise{
        background-color: $turquoise;
        color: white;
    }

    &-orange{
        background-color: #CE822F;
        color: white;
    }
}