.info{
    display: flex;
    justify-content: space-between;
    padding-right: 4.8rem;
    margin-top: 8rem;

    &-reversed{
        flex-direction: row-reverse;
        padding-left: 4.8rem;
        padding-right: 0;

        & .info_image{
            border-radius: 329px 0px 0px 329px;;
        }
    }

    &_image,
    &_text{
        width: 48%;
    }

    &_image{
        border-radius: 0px 329px 329px 0px;
    }

    &_headline{
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    & .btn{
        margin-top: 3rem;
    }
}